img {
    width: 75%;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}


#index-header {
    text-align: center;
    text-decoration: underline;
    font-family: Impact;
    font-size: 50px;
}

.index-p {
    font-family: Helvetica;
    font-size: larger;
    font-weight: bold;
}